[Unit]
Description=Libertas wifi module
After=local-fs.target
Wants=network.target
Before=network.target

[Service]
RemainAfterExit=yes
ExecStart=/sbin/modprobe libertas_sdio
#ExecStartPost=/bin/sleep 15
ExecStop=/sbin/modprobe -r libertas_sdio

[Install]
WantedBy=network.target
