[Unit]
Description=Watchdog Daemon
After=remount-rootfs.service

[Service]
Type=forking
PIDFile=/var/run/watchdog.pid
ExecStart=/usr/sbin/watchdog
ExecStopPost=/bin/touch /dev/watchdog

[Install]
WantedBy=multi-user.target

